# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment
*.env
keys.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Conda
*.conda
